@{
    ViewData["Title"] = "History";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <a asp-area="" asp-controller="Home" asp-action="Index">Go back home</a>
    <div class="container p-3">
        <h3>
            History
        </h3>
        <div class="container">
            <p>
                Jacob Gaughan Graduated from Fort Hays State University in December of 2020 with a bachelors in computer science.
            </p>
        </div>
    </div>
</div>
