@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container">
        <h1 class="fw-bold pt-4 w">About Jacob Gaughan</h1>
        <div class="container p-3">
            <h3 class="cool-guy">
                History
            </h3>
            <div class="container">
                <a href="history.html">Click to learn more history</a>
            </div>
        </div>
        <div class="container p-3">
            <h3 class="cool-guy">
                Favorite Things
            </h3>
            <div class="container">
                <a href="favorites.html">Click to learn more about his favorites</a>
            </div>
        </div>
        @*<div class="container p-3">
            <h3 class="cool-guy">
                This is literally me right now
            </h3>
            <div class="container">
                <a href="https://en.wikipedia.org/wiki/Cool_(aesthetic)" target="blank"><img id="img-me" class="img-thumbnail rounded" src="images/melol.jpg" alt="This is a pic of Jacob Gaughan" style="width: 50%;"></a>
            </div>
        </div>*@
    </div>
</div>
